.input {
    width:100%;
    box-sizing: border-box;
    outline:none;
    color:white;
    background-color: rgb(253, 245, 245);
    padding:6px 10px;
    display:block;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display:block;
    margin-top:1rem;
    margin-bottom:0.5rem;
}

.input:focus {
    outline:none;
    
}

.submit {
    margin-top: 1rem;
    text-align: center;
    display: inline-block;
    width: 100px;
    background-color: #8BC34A;
    color:  #fefefe;
    font-size: 1em;
    padding: 0.2em;
    border-radius: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    transition: border-radius linear 0.05s, width linear 0.05s;
}